<%- include("header") -%>
<h1>About Page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum veritatis iste doloribus fuga impedit hic odio nemo tempora eligendi consequatur. Ex, voluptatibus. Deleniti doloribus voluptate non. Magni, harum expedita! In?    
</p>
<%- include("footer") -%>