</body>
<!-- Footer -->
<footer class="footer">
  <ul class="social-list">
  <li>
    <a href="mailto:hritvik5005@gmail.com" class="social-list__link">
      <i class="fas fa-envelope"></i>
    </a>
  </li>
    <li class="social-list__item">
      <a href="https://github.com/Hritvik-Mohan" class="social-list__link">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li class="social-list__item">
      <a href="https://www.linkedin.com/in/hritvik-mohan-33162b131/" class="social-list__link">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    <li class="social-list__item">
      <a href="https://twitter.com/_hritvik" class="social-list__link">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li class="social-list__item">
      <a href="https://www.instagram.com/hritvik_mohan/" class="social-list__link">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li class="social-list__item">
      <a href="https://hritvik-mohan.medium.com/" class="social-list__link">
        <i class="fab fa-medium"></i>
      </a>
    </li>
  </ul>
</footer>

</html>